<<<<<<< HEAD
/* This will dissapper the imaginary margin that is in the window */
* {
  margin: 0;
}

.app {
  background-color: #111;
}
=======
/* This will dissapper the imaginary margin that is in the window */
* {
  margin: 0;
}

.app {
  background-color: #111;
}
>>>>>>> Updated files
